/* dynaXML CONTENT stylesheet for EAD */

@import url("content.css");

h1, h2, h3, h4 {
font-family: arial, sans-serif;
}

td {
vertical-align: top;
}


/* Formats tabs for finding aids*/
ul.tabs {display:block; list-style: none; padding:0; margin-bottom:6px;}
ul.tabs li{display:inline; padding:10px;/*padding: 10px 20px;*/ margin:0; font-weight:bold;}
ul.tabs li.select{
    background-color:#fff; 
    border-top:1px solid #999;
    border-right:1px solid #999;
    border-left:1px solid #999;
    }

/* Styles for EAD */
.main {
    display:block; 
    float:none; 
    clear:both; 
    margin-top:215px;    
    margin-left:13px; 
    margin-right:-3px; 
    position:relative;
    /*
    border-left:1px solid #999; 
    border-right:1px solid #999; 
    border-bottom:1px solid #999;
    */
    }
    
    
/* TOC for finding aids pages */
#tocWrapper { /* required to avoid jumping */
    position: fixed !important;
    position: absolute;
    top: 260px;
    left: 0;
    bottom:12px;
    margin-left: 0;
    width:235px;
    margin:0;
    padding:0;
    clear:both;
    overflow:auto;
         }
     
#toc {
    margin-top:-10px; 
    padding-top: 0;
    padding-left: 12px;	
	padding-right: 10px;	
	padding-bottom: 10px;
	display:block;
	width: 190px;	
    
	}
#toc dl{margin-left:1em;}
#toc .inventory{margin-left:0;}
#toc .inventory2{padding-left:1em;}
#toc div.contents {padding:1em;}

/* TOC subjects submenu*/
ul.none {list-style:none;}
.subjects {margin-left:1.5em; padding-left:4px;}
.subjects h4 {margin:0; padding:1em;}
.subjects ul{margin:0;padding:0;}
.subjects li{margin-left:.85em;padding:0; padding-bottom:.5em;}
.more {display:none;}

/* --- EAD body --- */
#content-right {
    display:block;
    margin-left:240px;
    margin-top:0;
    padding-top:48px;
    padding-left: 10px;
    margin-right: 10px;
    text-align: left;
    min-height:400px;
    position:relative;
}
.navright .left {margin-top:-12px;}
.overview p{margin-top:0; margin-bottom:12px;}
#content-right table tr td {padding-right:1em;}

/* Container list styles*/
table.containerList {width:99%; position:relative;}
table.containerList tr td{padding-top:2px; padding-bottom:2px;}
.seriesTitle {background-color:#ddd; padding:8px 4px; font-size:1.25em; margin:10px -4px; font-weight:bold;}
.container {margin-left:2em; text-align:left;}
.instances {font-weight:bold;text-decoration:underline;}
.containerHeader {font-weight:bold; padding-top:.5em; text-align:left;}
.containerHeaderTitle {font-weight:bold; padding-top:.5em; text-align:left;}
.moreLess a{text-decoration:none !important; font-weight:bold; color:#FD8239 !important;}
.containerTypes {margin-top:.5em;}
.inventoryTitle {font-weight:bold; background-color:#000; color:#fff; padding:4px 2px; margin-bottom:.5em;}
tr.odd{background-color:#eee !important;}
/* --- Clevel Margins --- */
table td.c {border-left: none; padding-left:4px;}
table td.c01 {border-left: none !important; padding-left:4px;}
table td.c02 {border-left: 10px solid white !important; padding-left:4px;}
table td.c03 {border-left: 20px solid white !important; padding-left:4px;}
table td.c04 {border-left: 30px solid white !important; padding-left:4px;}
table td.c05 {border-left: 40px solid white !important; padding-left:4px;}
table td.c06 {border-left: 50px solid white !important; padding-left:4px;}
table td.c07 {border-left: 60px solid white !important; padding-left:4px;}
table td.c08 {border-left: 70px solid white !important; padding-left:4px;}