/* Print CSS */

.ui-widget-overlay, .ui-dialog-buttonset, .bbar_custom, .main, .fixedFooter, .navbar, .comment, #myListNav, .resultsHeader, .results, #header img, .ui-dialog-titlebar, .myList .buttons, .searchPage, .footer, .myListContents .row button, .myListContents .row .requestInputs {display: none;}

html {font-size: .7em;}

#header {width: 100%;}
#header h1, #header .tagline {margin-left:0;}
#myListPrint {display: block; width: 100% !important; float: left; padding:0 !important;}
#myListPrint .title {width:33%;}
#myListPrint .date {width:8%;}
#myListPrint .collectionTitle {width:25%;}
#myListPrint .containers {width:14%;}
#myListPrint .dateAdded {width:14%;}

.ui-dialog {width:100% !important; left: 0 !important;border:0 !important; border-radius: 0 !important;top:6.5em !important;}
