/* Print CSS */

.navbar, .comment, #myListNav, .resultsHeader, .results, #header img, .ui-dialog-titlebar, .myList .buttons, .searchPage, .footer, .myListContents .row button, .myListContents .row .checkbox {display: none;}

#header {width: 100%;}
#myListPrint {display: block; width: 100% !important; float: left;}
