/* Rockefeller Archive Center customized css */
body {
   font-family: Arial, sans-serif;
   /* 9/22/11 WS: Changed background color from silver to white for RA a */
   background-color: #fff;
   font-size: small;
   color: #333;
   /* 9/22/11 WS: Changed for RA, added margin and padding */
   margin:0;
   margin-right:12px;
   padding:0;
}

/* general markup styles*/
.nomark{list-style:none;}
h2 {margin-top:.5em; padding:0;}
h4{margin-bottom:0; padding-bottom:0;}
p{margin-top:0;margin-bottom:1em;}
div.dscDescription {border:1px solid #ccc; margin:1em; padding:1em;}
div.closeWindow {text-align:right !important; font-size:.85em !important; margin-top:1em;}
div.closeWindow a{color: #C45414;}
.getAddress{border-top:1px solid #999 !important; margin-top:24px !important;}
.fixedHeader {
            position: fixed !important;
            position: absolute; /* IE6 reads this */
            height: 100px;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 2;              
}
.fixedHeader table{
    margin-right:8px;    
}
.fixedHeader .navright {margin-right:12px !important;} 
.fixedHeader .searchNav {width:99%;}
.fixedHeader .bbar_custom{width:99%;} 
.bookbag {text-align:right; border:none; background-color:white; margin-bottom:-2em;padding:0;margin-right:1em;}

/* Formats header */
#RAheaderMenu{background: url("images/RAheader.gif") repeat-x right top; background-color:#fff;}
/*h1#collectionGuides {background: url("images/collection_guides.gif") no-repeat left top; background-color:#fff;}*/

#collectionGuides {margin-top:-60px; margin-left:150px;}
#collectionGuides a {
   position:relative;
   display:block;
   width:260px;
   height:40px; }
#collectionGuides a span {
   display:block;
   position:absolute;
   width:100%;
   height:100%;
   background:#ffffff url("images/collection_guides.gif") no-repeat left top;
   z-index:1; /* Places <span> on top of <a> text */  }

.searchNav {background-color: #fff; width:100%; margin-top:-1.5em;}
.searchNav .searchLinks {color: #555555; text-align:right; padding-right:.5em;}
.searchNav .searchLinks a {color: #C45414; text-decoration:none;}/*555555*/

.bbar_custom {padding:1em; border:none;}
h1.collectionGuides {margin-top:-70px; margin-left:160px; font-size:34px;}
h1.collectionGuides a{text-decoration:none; color:black;}
.searchPage {margin-top:34px !important;}
.navright {
    background-color: #DDDDDD;
    padding:12px;
    text-align:right !important; 
    border:1px solid #999; 
    }  
.navright form {text-align:right !important; padding:8px 8px;}
.eadtitle {text-align:left; font-size:.80em; margin:0; padding-left:.5em; /*border: 1px solid #999;*/}
.eadtitle h1 {color:#333; margin:0; padding:0;}

/* Formats search results (number and type) */
table.advancedSearch tr td{vertical-align:text-top;}
.ra-query {float:none !important; display:inline !important;}
.subQuery {float:none !important; display:inline !important;}
.clear {clear:both;}
/*.navright .right{text-align:right; float:right; margin-top:-8px; padding-top:0;}*/
.right{text-align:right;}
.left {text-align:left; padding-left:18px;}
.facetMatch {font-style:italic; color:#FD8239;}
.facetGroup .col3 {font-weight:bold; color:#FD8239;}
a.hit {
   color: #FD8239 !important;
   font-weight: bold;
}
.hit-count{
   color: #FD8239 !important;
   font-weight: bold;
}
.subhit{
   color: #FD8239 !important;
   font-weight: bold;
}

.hit{
   background-color:inherit !important;
   color: #FD8239 !important;
   font-weight: bold;
}
