/* Rockefeller Archive Center customized css */
body {
   font-family: Arial, sans-serif;
   background-color: #fff;
   font-size: .85em;
   color: #333;
   margin:0;
   padding:0;
}

/* general markup styles*/
.nomark{list-style:none;}
h2 {margin-top:.5em; padding:0;}
h4{margin-bottom:0; padding-bottom:0;}
p{margin-top:0;margin-bottom:1em;}
.footer {margin-left: 1%;text-align: left;float:left;margin-bottom:.5em;margin-top:.5em;}
.fixedFooter {position:absolute;bottom:0;left:1%;margin:0;padding:0;width:98%;height:1.6em;border-top:1px solid #666}
.footer p {margin:0}
div.closeWindow {text-align:right !important; font-size:.85em !important; margin-top:1em;}
div.closeWindow a{color: #C45414;}
.getAddress{border-top:1px solid #999 !important; margin-top:24px !important;}
.bookbag {width:3em; text-align:center;border:none; float:right;margin-bottom:-2em;}

/* Formats header */
#RAheaderMenu{background: url("images/RAheader.gif") repeat-x right top; background-color:#fff;}
#header {margin-top:-80px; margin-left:2%; font-family: 'Questrial', sans;-webkit-text-stroke: 1px;width:70%;float:left;}
#header img {float:left;margin-right:2em;}
#header a, #header a:hover {text-decoration:none;}
#header h1 {font-size: 3em; margin: 0; text-decoration:none;color: #000000;font-family: 'Questrial', sans;margin-top:42px;}
#header h1:hover {text-shadow:0 0 5px #c45414;}
.tagline {font-size: 1.5em;color: #444;}

/*Formats IE specific warning*/
.chromeframe p {width: 100%; background-color: #C45414;color: #fff; padding: 5px; text-align: center;}
.chromeframe a {color: #d3d3d3 !important;}
.chromeframe a:hover {color: #c2c2c2 !important;}

/*Formats feedback link and overlay*/
.feedback-tab {display: block; position: fixed; top: 390px; right: 0px; cursor: pointer; box-shadow:0px 0px 10px #000; -moz-box-shadow:0 0 10px 5px #000; -webkit-box-shadow: 0 0 10px #000;}
.feedback-form label {display: inline-block; width: 100px; margin: 5px;}
.feedback-form input {display: inline-block; width: 200px; margin: 5px;}
.feedback-form textarea {width: 200px; vertical-align: top; margin: 5px;}
.feedback-form p {font-size: smaller; padding-left: 124px;}
.feedback-form .button { width: auto; float: right;}
.feedback-form ul li {list-style: none;}

.overlay {display:none;z-index:10000;background-color:#fff;width: 410px;min-height:200px;border:1px solid #666;padding: 20px;box-shadow:0px 0px 90px #000;-moz-box-shadow:0 0 90px 5px #000;-webkit-box-shadow: 0 0 90px #000;}
.overlay .close {background-image:url(/xtf/icons/default/close.png); position:absolute; right:-15px; top:-15px; cursor:pointer; height:35px; width:35px;}
.overlay h3 {border-bottom: 1px dotted;}

div.dscDescription {border:1px solid #ccc; margin:1em; padding:1em;}
.overlay div.dscDescription {border:1px solid #ccc; margin:1em; padding:1em; min-height: 500px;}

/* Overlay for digital objects */
.overlay_dao {display:none;position: fixed;top: 50px !important;right: 125px !important;z-index:3 !important;background-color:#fff;border:1px solid #666;padding: 20px;box-shadow:0px 0px 90px #000;-moz-box-shadow:0 0 90px 5px #000;-webkit-box-shadow: 0 0 90px #000;}
.overlay_dao .close {background-image:url(/xtf/icons/default/close.png);position:absolute;right:-15px;top:-15px;cursor:pointer;height:35px; width:35px;}
.overlay_dao h3 {border-bottom: 1px dotted;}

/*Formats home page*/
.forms {float:left; width:100%;border: 1px solid #999;border-radius:5px}
.box {margin: 1%; background: #EEEEEE;float:left; border-radius:5px 5px 0px 0px; box-shadow: 0px 0px 10px #666;width:31%;}
.box:hover {box-shadow: 0px 0px 5px #666;}
.box h2 {border-radius: 5px 5px 0 0; padding:.5em; margin:0;}
#searchTop {width:100%; float:left;margin: 1em 0 1% 1%;height:6em;}
#searchbox {position:absolute; top:13em; left:0;width:100%}
#searchbox input, #searchbox select {border-radius:5px;padding:.2em;}
#searchbox select {border: 1px inset #ddd;}
#searchbox input:focus, #searchbox select:focus {box-shadow:0px 0px 5px #C45414; background-color: #ffffff; outline:none;}
input.searchbox {font-size:1.4em;}
input[type="text"].searchbox {box-shadow:0px 0px 5px #666;width:40%;margin:0;background-color:rgb(253, 253, 253);z-index:2;border: 1px inset #ddd;padding:.2em;position:absolute; left:26%;}
input[type="submit"].searchbox {margin:0 0 0 1%;border: 1px outset #dddddd; background-color:#dddddd; position:absolute; top:0; left:67%;}
input[type="submit"].searchbox:hover {box-shadow:0px 0px 3px #C45414;color: #c45414;cursor:pointer;}
input[type="submit"].searchbox:active {border: 1px inset #dddddd;color: #c45414;}
.showAdvanced.closed {position: absolute; top: 2.5em; right: 34%;}
.showAdvanced.open {text-align:right; float:right;width:100%}
#advancedSearch {z-index:1; position:absolute; top:2.2em; left:0em; margin-left:26%; font-size:1em; display:none;text-align:left;width:40%;padding:4px;border-bottom: 1px solid #999;
border-left: 1px solid #999;
border-right: 1px solid #999;
background-color: #EEEEEE;box-shadow: 0px 5px 10px #666;}
#boolean, #materialType, #date {padding:.5em;}
#browse {padding:0;min-height:12em;}
#browse h2 {background-color:#c45414; color: #fff}
.category {float: left;width:100%}
.category h3 {margin:.6em; vertical-align:bottom; float:left; padding-left:.4em;}
.category img {vertical-align:middle; margin-right:.5em;}
.accordionButton {background: #BBBBBB;border-top: 1px solid #FFFFFF;cursor: pointer;}
.accordionButton:after {width: 0;height: 0;border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 8px solid #666666;content: " ";float: right;margin-left: 1em;margin-right: 1em;margin-top: 1em;}
.accordionContent {background:#EEEEEE;float:left;width:100%}
.browseOption {padding-left:3em !important}
.on {background: #CCCCCC}
.on:after {width: 0;height: 0;border-top: 8px solid #666666;border-right: 8px solid transparent;border-left: 8px solid transparent;content: " ";float: right;margin-left: .8em;margin-right: .6em;margin-top: 1.3em;}
.over {background: #CCCCCC;}
#type, #library, #collections, #dao {font-size:1em;}
#date input {font-size:1em !important; position: relative !important; top:0 !important; left:0 !important; float:none !important;margin-bottom:1em !important;border: 1px inset #ddd; padding:.2em}
#searchtip, #searchtipDate {display:none; box-shadow: 0px 0px 5px #c45414;background: #eeeeee; border-radius:5px}
#searchtipDate:hover, #searchtip:hover {box-shadow: 0px 0px 10px #c45414;}
#searchtip li, #searchtipDate li {padding:0em; text-align:center;}
#searchtip {display:none;width:20%; position: absolute;top: 13em;left: 3%;font-size:1em;margin:0}
#searchtipDate {width: 40%;float:right;margin-top:0;margin-right:4em;padding:.2em;font-size: .7em;font-size:.7em}
.searchtips {font-size:.9em;}
#featured h2 {background-color: #bbbbbb;}
#featured {width:32%}
#featured img {max-height:100%; width: 94%;margin:3%;}
#caption {width:94%; margin:0 3% 3% 3%; text-align:left;}
#news h2 {background-color:#0D8061; color: #fff;}
#about {position: absolute;top: 140px;right: 8%;width:11em;z-index:1}
#about ul {margin:0}
#about li {font-size:1em;padding:.2em}
#about h3 {padding:.5em;margin:0;cursor:pointer}
#about .aboutButton {box-shadow:0px 3px 3px #666;border-radius:2px 2px 5px 5px;border: 1px solid #999;margin-left:11em;margin-right: -2px;background:#ddd;float:right;text-align:center}
#about .aboutButton:after {content: none;}
#about .on:after {content:none}
#about .over {box-shadow: 0px 2px 2px #666}
#about .on {background: #ccc;width:11em;border-radius:2px 2px 0 0; box-shadow:0px 3px 3px #666;}
#about .aboutContent {background:#fff; display:none;box-shadow:0px 3px 3px #666;width:11em;text-align:left;float:left;border:1px solid #666; border-top:0;border-radius:0 0 5px 5px;}
#disclaimer {width:100%; float:left; border-top: 1px solid #999;color:#666;text-align:justify;margin-top:2em;}
#disclaimer p { margin:1%; }
.home a, #about a, .resultsHeader a, .facets a {text-decoration: none !important; color: #c45414 !important;}
.home a:hover, #about a:hover, .resultsHeader a:hover, .facets a:hover {color:#c45414 !important; text-decoration:underline !important; }
.home li, .resultsHeader li {list-style: none;margin: 0px;padding: .5em 1em .5em 1em;text-align:left;font-size:1.2em;}
.home li:nth-child(even), .resultsHeader li:nth-child(even), .facets li:nth-child(even) {background-color: rgb(228, 228, 228);border-bottom:1px dashed #999; border-top:1px dashed #999;}
.home ul, .resultsHeader ul, .facets ul {padding-left: 0em;padding-right:0em;margin-top:.5em; margin-bottom:.5em;}
.home h4 {padding: .5em .5em .5em 1em;text-align: left;margin-top:0;}
.homeDialog {border:1px solid #ccc; margin:1em; padding:1em;}

/* Formats search results (number and type) */
#results, #facets, .browse, .docHit {box-shadow: 0px 0px 10px #666;}
#results:hover, #facets:hover, .browse:hover, .docHit:hover {box-shadow: 0px 0px 5px #666;}
.ra-query {float:none !important; display:inline !important;}
.subQuery {float:none !important; display:inline !important;}
.clear {clear:both;}

#bookbag {float:right;margin-right:1%;margin-top:2em;height:2em;}

.resultsHeader h2 {text-align:center; margin:0 0 .5em 0;}
.resultsHeader .actions {text-align:center;width:20%; float:left; margin-left:40%}
.resultsHeader #searchTop {height:0;}
.resultsHeader #searchbox {top:12em;left:5%;width:90%;}
.resultsHeader input[type="submit"].searchbox {border: 1px outset #eee; background-color:rgb(253, 253, 253)}
.resultsHeader #browse ul {margin:0}
.resultsHeader #browse li {font-size:1em;padding:.2em}
.resultsHeader #browse h3 {margin:0; font-size:1.4em;font-weight:normal;padding:.2em;float:left}
.resultsHeader #browse {min-height:0;position:absolute;top:11em;right:22em;width:10em;}
.resultsHeader #browse .dropdownButton {border-radius:5px;border: 1px solid #999;background:#ddd;float:right;text-align:center;width:10em;}
.resultsHeader #browse .dropdownButton:after {width: 0;height: 0;border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 8px solid #666666;content: " ";float: right;margin-left: 1em;margin-right: 1em;margin-top: .6em;}
.resultsHeader #browse .dropdownContent {background:#fff; display:none;box-shadow:0px 3px 3px #666;width:10em;text-align:left;float:left;border:1px solid #666; border-top:0;border-radius:0 0 5px 5px;margin-left:-2px;margin-top:-2px;}
.resultsHeader #browse .on:after {width: 0;height: 0;border-top: 8px solid #666666;border-right: 8px solid transparent;border-left: 8px solid transparent;content: " ";float: right;margin-left: .8em;margin-right: .8em;margin-top: .9em;}
.resultsHeader #browse .over {box-shadow:0px 0px 3px #C45414;color: #c45414;cursor:pointer}
.resultsHeader #searchtip {top:12em;width:23%;font-size:1em;}

.pages {width:98%;padding:1% 0 1% 0;float:left; margin-left:1%;border-radius:5px;font-size:1em;text-align:center;font-weight:bold;background:#eee}
#results .pages {width:32%;float:left;font-size:.8em;padding:.8em;border-left:2px groove #fff; border-right:2px groove #fff;background:0;border-radius:0}
.pages a {text-decoration:none !important; color:#333 !important;}
.pages .pageButton {display:inline;vertical-align:middle;padding:.1em .5em .1em .5em;border:2px outset #999;border-radius:4px;margin-left:1em;margin-right:1em;background-color:#bbb;color:#fff}
#results .pageButton {margin-left:.3em;margin-right:.3em;}
.pages .pageButton:hover {border:2px outset #c45414;color:#c45414;}
.pages .pageNumber {display:inline;vertical-align:middle;width: 1em;padding: .2em .3em .2em .3em;}
#results .pageNumber {padding:.2em .4em .2em .4em;}

#results {width:96%; float:left;padding:1em 1% 1em 1%; margin:1%; margin-top:1%;background:#eee;border-radius:5px;font-size:1em;}
#results select, #results input {font-size:.8em;margin-top:0; margin-bottom:0;}
#rss {float:left;margin-right:.5em;}
#hits {float:left;margin-bottom:1%;width:32%}
#sort {float:right;}

.facets h2 {margin:0; padding:.5em;border-radius:5px 5px 0 0;background-color:#c45414; color:#fff;text-align:center;}
.facets li {list-style: none;margin: 0px;padding: 1%;text-align:left;font-size:1em;}
.facets #facets h2 {background-color:#0D8061}
.facets .browse {float:left; width:100%;margin-top:3%; border-radius:5px 5px 0px 0px;}
.facets #facets {float:left; width:100%;margin-top:3%; border-radius:5px 5px 0px 0px;}
.facetMatch {font-style:italic; color:#c45414;}
.facetGroup .col3 {font-weight:bold; color:#c45414;}

#currentBrowse, #alphaList {text-align:center}
#alphaList {padding:.4em;font-size: 1em;font-weight:bold;}
.alphaLink {display:inline;vertical-align:middle;width:1em; padding:.5em;text-decoration:none;}
#alphaList a .alphaLink:hover, .pageNumber:hover {outline: 1px solid; color:#c45414;text-decoration:none !important;}
#alphaList .active, .pages .active {text-decoration:none !important;color:#fff;background-color:#666;}
#currentBrowse {font-size: 1.4em;margin-bottom: 1em;}

a.hit {background-color:rgba(196, 84, 20, 0.1) !important;color: #c45414 !important;font-weight: bold;}
.hit-count{background-color:rgba(196, 84, 20, 0.1) !important;color: #c45414 !important;font-weight: bold;display:inline;}
.subhit{background-color:rgba(196, 84, 20, 0.1) !important;color: #c45414 !important;font-weight: bold;}
.hit{color: #c45414 !important;font-weight: bold;}

/*Formats document headers*/
.bbar_custom {float:left;width:96%;border-right: 1px solid #666;border-left: 1px solid #666;border-top: 1px solid #999;border-bottom: 1px solid #999;background-color: #ddd;margin-left: 1%;margin-right: 1%;padding: 10px 1% 0 1%;border-radius: 5px 5px 0 0;height:100px;}
.headerIcons {float:right; width:9%;}
.headerIcons ul {display:block; list-style: none; padding:0; margin:0; float:right; clear:both;}
.headerIcons ul li{width:30px !important; float:left; margin:0;}
.headerIcons ul li .caption{display:block; width:30px; margin-top:-.5em; padding:0; text-align:center; font-size:.75em; color:#C45428;}
.bbform {display:block; float:right;width:100%}
.bbform input {font-size:1em;border-radius:5px;padding:.2em;}
.bbform input:focus {box-shadow:0px 0px 5px #C45414; background-color: #ffffff; outline:none;}
.bbform input[type="text"] {margin:0;background-color:rgb(253, 253, 253);z-index:2;border: 1px inset #ddd;padding:.2em;}
.bbform input[type="submit"] {margin:0 0 0 1%;border: 1px outset #eee; background-color:rgb(253, 253, 253)}
.bbform input[type="submit"]:hover {box-shadow:0px 0px 3px #C45414;color: #c45414;cursor:pointer;}
.bbform input[type="submit"]:active {border: 1px inset #dddddd;color: #c45414;}
.documentTitle {text-align:left; font-size:.8em;margin:0; padding-left:.5em; float:left; width:90%;height:50px}
.documentTitle h1 {color:#333; margin:0; margin-left:50px; padding:0; font-size:1.75em;}
.ead {background: url(/xtf/icons/default/collections.gif) left no-repeat; min-height: 50px;}
.headerSearch {float:right;text-align:right;width:40%}
.headerResults {float:right;width:100%;padding-top:.5em;}

/* Formats tabs for finding aids*/
.tabs {float:left; margin-top:10px;}
.tab {display:inline; float:left;height:20px; padding:10px;font-weight:bold; border-top:1px solid #999; border-right:1px solid #999; border-left:1px solid #999; border-bottom:0; border-top-left-radius:5px; border-top-right-radius:5px; margin-right:.5em; background:#ccc;}
.tabs .select{
    background-color:#fff; 
    border-top:1px solid #999;
    border-right:1px solid #999;
    border-left:1px solid #999;
    box-shadow: 0px -6px 8px #666;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    }
.tab:hover {box-shadow: 0px -3px 5px #666;}
.tabs a {color: #666 !important;}
.tabs a:hover {color:#c45414 !important;}
.tabs .select a {color:#c45414 !important;}
.tabs .clear {display:none;}
.tab a {text-decoration: none !important;}
.currentBrowse a{color: #333 !important;}

/* Styles for EAD */
.main {
    float:left; 
    width:98%;
    margin-left:1%;
    margin-right:1%;}
    
/* TOC for finding aids pages */
#tocWrapper { /* required to avoid jumping */
    position: fixed !important;
    position: absolute;
    top: 257px;
    left: 1%;
    bottom:1.6em;
    width:27%;
    padding-right:1%;
    padding-left:1%;
    overflow:auto;
    border-left:1px solid #666;
   }
     
#toc {display:block;margin-top:1em;width:100%}
#toc a {text-decoration:none; color: #c45414;}
#toc a:hover {text-decoration:underline;}
#toc h4 {padding:.5em; background-color:#0D8061;border-radius:5px 5px 0 0;margin:0;color:#fff;font-size:1.5em;}
#toc .inventory{padding-left:.2em;padding-right:.2em;float:left;max-width:86%;}
#toc .inventory2{padding-left:1em;float:left;max-width:88%}
#toc .tocItem {float:left; padding-right:.2em;width:100%}
#toc .tocRow {font-size:1.2em;float:left;width:96%;padding:2%;background:#eee;border-bottom:1px dashed #999; border-top:0}
#toc .tocRow:hover {background-color:#ccc !important}
#toc .active {background-color: #999 !important;border-left: .5em solid #c45414;padding-right: .5em;width:100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#toc .active a {color:#fff}
#toc .active:hover {background-color:#999 !important}
#toc .tocSubrow {float:left;width:100%;padding:1%;border-bottom:1px dashed #999;border-left:5px solid #999;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#toc .accordionButton:after {margin-top: .1em;}
#toc .on:after {margin-top: .4em;}
.tocSubrow:nth-of-type(odd) {background-color: rgb(228, 228, 228);}
.tocSubrow.active {border-left: 5px solid #c45414 !important;}

.contents, .contentsList {background-color:#eee;border-radius:5px 5px 0 0;box-shadow: 0px 0px 10px #666;float:left; width:100%}
.contents .accordionButton {background-color:#eee;}
.contents:hover {box-shadow: 0px 0px 5px #666;}

.moreLess {float:left; padding-right:.2em;width:2%;}

/* TOC subjects submenu*/
ul.none {list-style:none;}
.subjects {margin:1em 0 0 0; padding:0;background-color:#eee;border-radius:5px 5px 0 0;box-shadow: 0px 0px 10px #666;float:left;width:100%;}
.subjects:hover {box-shadow: 0px 0px 5px #666;}
.subjects h4 {margin:0;}
.subjects ul{margin:0;padding:0;}
.subjects li{padding-top:.2em;padding-bottom:.2em;padding-left:.5em;padding-right:.5em}
.subjects li:nth-of-type(even) {background-color: rgb(228, 228, 228); border-top: 1px dashed #999;border-bottom:1px dashed #999;}
.more {display:none;}

/* --- EAD body --- */
#content-wrapper { /* required to avoid jumping */
    position: fixed !important;
    position: absolute;
    top: 257px;
    right:1%;
    left:31%;
    bottom:1.6em;
/*    margin-left:240px;*/
    margin:0;
    margin-right:-2px;
    padding:0;
    overflow:auto;
    border-right:1px solid #666;
}

#content-wrapper a {text-decoration:none; color:#c45414;}
#content-wrapper a:hover {text-decoration:underline;}
         
#content-right {
    display:block;
    text-align: left;
}
.navright .left {margin-top:-12px;}
.overview p{margin-top:0; margin-bottom:12px;}
.overview a {color: #C45414 !important;}
#content-right table tr td {padding-right:1em;}
.col4 {padding-right: 1em;}
.moreInfo a {width:100%; float:left;}
.addToBag {font-weight:normal !important;}

/* Container list styles*/
table.containerList {width:99%; position:relative}
table.containerList tr td{padding-top:2px; padding-bottom:2px;}
.dscSeries, .dscSubseries {float: left;width: 100%;}
tr.dscSeries, tr.dscSubseries {float:none}
.seriesTitle {background-color:#ddd; padding:8px 4px; font-size:1.25em; margin:10px 0px; font-weight:bold;}
.container {margin-left:2em; text-align:left;}
.instances {font-weight:bold;text-decoration:underline;}
.containerHeader {font-weight:bold; padding-top:.5em; text-align:left;}
.containerHeaderTitle {font-weight:bold; padding-top:.5em; text-align:left;}
.moreLess a{text-decoration:none !important; font-weight:bold; color:#c45414 !important;}
.containerTypes {margin-top:.5em;}
.inventoryTitle {font-weight:bold; background-color:#000; color:#fff; padding:4px 2px; margin-bottom:.5em;}
tr.odd{background-color:#eee !important;}
tr.file td {border-bottom: 1px dotted #ccc !important; margin-top:.5em;}
tr.file td.noBorder {border:none!important;}

/* --- Clevel Margins --- */
table td.c {border-left: none; padding-left:4px;}
table td.c01 {border-left: none !important; padding-left:4px;}
table td.c02 {border-left: 10px solid white !important; padding-left:4px;}
table td.c03 {border-left: 20px solid white !important; padding-left:4px;}
table td.c04 {border-left: 30px solid white !important; padding-left:4px;}
table td.c05 {border-left: 40px solid white !important; padding-left:4px;}
table td.c06 {border-left: 50px solid white !important; padding-left:4px;}
table td.c07 {border-left: 60px solid white !important; padding-left:4px;}
table td.c08 {border-left: 70px solid white !important; padding-left:4px;}

/* --- Formats library records --- */
.modsInfo h3 {margin:0; padding:.25em .25em 1em .25em; background-color:#ccc !important; border:red;}

/* --- Custom styles for dialog --- */
.dao-container {
            	position: relative;
            	padding-bottom: 56.25%;
            	padding-top: 30px;
            	height: 0;
            	overflow: hidden;
            }
            
.dao-container iframe {
            	position: absolute;
            	top: 0;
            	left: 0;
            	width: 100%;
            	height: 98%;
            }       
.ui-icon.ui-icon-myCloseButton{
                     float:right;
                     clear:left;
                     margin-top:-.2em;
                     width:25px;
                     height:25px;
                     background-image: url(images/close.png);
                 }
.ui-dialog .ui-dialog-title {
                  font-size:.9em !important;
                  white-space: normal !important;
                  overflow: visible;
                 }
                 
iframe {
                    background-image: url("images/ajax-loader.gif");   
                       background-repeat: no-repeat;
                       background-position: 50% 50%;
                       width:99%;
                       height:100%;
                   }
.daoCitation {padding-bottom: 5px;}

.daoCitation .repository {position: absolute; bottom: 0; left: 0; width: 98%; padding-left: 2%;}

/* --------------------------------------------- */
/* ------------- RESPONSIVE STYLES ------------- */
/* --------------------------------------------- */

@media screen and (max-width:768px) {
h2 {font-size:1.2em}
h3 {font-size:1em}
.home li, .resultsHeader li {font-size:1em;}
#browse {min-height:11em;}
.category h3 {vertical-align:middle}
#docHits {font-size:.8em;}
#results .pages, #results .hits {width:31%}
.resultIcon img {height:40px;}
.headerSearch {font-size:.8em;width:40%}
.accordionContent {font-size:1em;}
.accordionButton:after {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid #666666;content: " ";float: right;margin-left: .8em;margin-right: .8em;margin-top: .8em;}
.on:after {width: 0;height: 0;border-top: 5px solid #666666;border-right: 5px solid transparent;border-left: 5px solid transparent;content: " ";float: right;margin-left: 0.6em;margin-right: .4em;margin-top: 1.1em;}
}

@media screen and (max-width:480px) {
body {background-image:none !important}
#header {width:75%;margin:2%;height:2em !important;}
#header h1 {font-size:3em;margin-top:0}
#header img {display:none}
.tagline {font-size:.9em}
#bookbag {margin-top:.5em;}
#about {display:none}
#searchbox {top:6em;}
input[type="text"].searchbox {left:4%;width:72%}
input[type="submit"].searchbox {left:80%}
#advancedSearch {left:-22%;width:72%}
.showAdvanced.closed {right:24%}
.box {width:98%}
#featured {width:98%}

div[id^='navOption'] {display:none}
#menu {display:none}

.facets {display:none}
#docHits {width:100%}
#docHits .resultLabel {width: 25%;}
#docHits .resultText {width: 74%;}
#docHits .subdocument {margin-left:3%;}
.resultsHeader #searchbox {left: 0%; width:90%; top:4em;}
.resultsHeader input[type="text"].searchbox {left:5%; width:70%}
.resultsHeader input[type="submit"].searchbox {left:79%}
.resultsHeader #advancedSearch {left:-21%;width:70%}
.hits {width:45%}
#results .pages {float:right; width:45%; border:0;font-size:1em; text-align:right;}
#sort {width:58%; text-align:center;margin-top:1.5em;}
.resultIcon {display:none;}

.headerSearch {display:none;}
.headerIcons {width:14%}
.documentTitle {width:83%}
#tocWrapper {width:40%}
#toc h4 {font-size:1.2em}
#toc .tocRow {font-size:1em}
#content-wrapper {left:45%}
}

@media screen and (max-width:320px) {
.documentTitle {width:100%;}
#header h1 {font-size:1.8em;height:0em !important}
.tagline {display:none;}
.searchTop {height:4.5em;}
#searchbox {width:90%;top:4em;}
.headerIcons {display:none}
.tabs {font-size:.8em}
.tab {width:84%;padding:5px;height:30px;}
#tocWrapper {display:none}
#content-wrapper {left:2%;top:11em;}
.fixedFooter {display:none;}
.actions {margin-left:2%;width:98%}
}