/* crossQuery RESULTS stylesheet */

body {
   font-family: Arial, sans-serif;
   background-color: #fff;
   font-size: .85em;
   color: #333;
   margin:0;
   padding:0;
}

form {
	display: inline;
}

.clear {
	clear: both;
}

div.header {	 width: 100%;
	 margin: 0 auto;
	 background-color: #DDDDDD;
	 height:35px;
	 margin-bottom:125px;
}

div.header img {
	border: 0;
}
img.RAC-logo {
	float: left;
	margin: 4px 0 0 15px;
	padding-left: 30px;
	padding-right: 8px;
	}
	
div.header img.your-logo {
	float: right;
	margin: 10px 15px;
}

/* Forms */

div.searchPage {
   margin-left: 1%;
	 width: 98%;
}

div.form {
   width: 98%;
   margin:1%;
text-align: center;
}

/* Results */

div.resultsHeader {
     width: 98%;
     min-height:3.5em;
     float:left;
	 border-right: 1px solid #666;
	 border-left: 1px solid #666;
	 border-top: 1px solid #999;
	 border-bottom: 1px solid #999;
	 background-color: #ddd;
	 margin-left: 1%;
	 margin-right: 1%;
	 padding-top:1em;
	 padding-bottom:1em;
	 border-radius: 5px 5px 0 0;
}

.resultsHeader input, .resultsHeader select {
    font-size:1em;
}

div.query {
    width: 350px;
    float: left;
}

div.label {
   float: left;
}

div.resultsHeader .subQuery {
	float: left;
}

div.results {
   margin-left:1%;
   margin-right:1%;
   background-color: white;
	 width: 98%;
	 border: 1px solid #666;
	 border-top: 0;
	 float:left;
	 border-radius:0 0 5px 5px;
	 padding-top:.5em;
}

.results>p {margin:1em;}

.facets{
   width: 25%;
   margin-left: 1%;
   margin-right: 1%;
   float: left;
}

div.facetGroup {
	font-size: 95%;	
}

div.docHit {
	background-color: #FAFAFB;
	margin: 1%;
	width:96%;
	padding:1%;
	float:left;
	border-radius:5px;
}

.hitRank {float:left; width:2%;}
.resultIcon {float:left; width:6%;}
.resultContent {float:left; width:82%;}
.result {float:left;width:100%;margin-bottom:.5em;}
.result img, .title img {vertical-align:middle;}
.resultLabel {float:left; width:10%; text-align:right;font-weight:bold;margin-right:1%}
.resultText {float:left; width:85%;}

#docHits {float:right; width:73%;padding-bottom:1%}
#docHits .hitRank {width:3%}
#docHits .resultIcon {width:6%;}
#docHits .resultContent {width:82%;}
#docHits .resultLabel {width:15%;}
#docHits .resultText {width:80%;}

.subdocument {float:left; padding-top:.5em;padding-bottom:.5em;padding-left:1%;padding-right:1%;min-height:3em;}
#docHits .subdocument {width:114%;}
.results .subdocument {width:103%;}
.subdocument:nth-child(odd) {background: rgb(228, 228, 228);border-top: 1px dashed #999;border-bottom: 1px dashed #999;}
.subdocument .title {width:80%; float:left;}
.subdocument .matches {float:left;width:97%;margin-left:3%;font-size:.9em;margin-top:.5em;}
.subdocument .result {font-size:.9em;}
.subdocument .resultLabel {width:10% !important}

div#main_2, div#main_4, div#main_6, div#main_8, div#main_10, div#main_12 {
	
}

div.docHit table td.col1{
   width: 4%;
   text-align: left;
}

div.docHit table td.col2{
   width: 10%;
   text-align: right;
}

div.docHit table td.col3{
   width: auto;
   text-align: left;
   min-width: 560px;
}

div.docHit table td.col4{
   width: 10%;
   text-align: right;
}

div.docHit .typeIcon {
	vertical-align: text-top;
	margin-left: 1px;
}

.hit {
   color: #c45414;
   font-weight: bold;
}


.subhit {
   color: #c45414;
   font-weight: bold;
	 margin-left: 5px;
}

.hitsection {
   background-color: #D6DCE5;
}

.facetWrapper {width:98%;float:left;padding:1%}
.facetName {float:left;}
.totalDocs {float:right;}
.clearLink {float:right;font-weight:bold;}

div.facetMore {
   margin-top: 0.5em;
   margin-left: 2em;
   font-weight:bold;
   float:left;
}

div.facetLess {
   margin-left: 2em;
   margin-bottom: 0.5em;
   font-weight:bold;
   float:left;
}

div.getAddress {
	width: 95%;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #666;
	border-top: 0;
	padding: 10px;
}

div.getAddress h2 {
	margin: 0 0 10px 0;
	font-size: 120%;
}
.nohits, .spelling, .empty {margin: 1em;text-align: center;background: rgba(196, 84, 20, 0.1);padding: .5em;border: 1px solid #c45414;border-radius: 5px;}
.empty img {vertical-align:middle}
