/* crossQuery RESULTS stylesheet */

body {
   font-family: Arial, sans-serif;
   background-color: #fff;
   font-size: .85em;
   color: #333;
   margin:0;
   padding:0;
}

form {
	display: inline;
}

.clear {
	clear: both;
}

div.header {	 width: 100%;
	 margin: 0 auto;
	 background-color: #DDDDDD;
	 height:35px;
	 margin-bottom:125px;
}

div.header img {
	border: 0;
}
img.RAC-logo {
	float: left;
	margin: 4px 0 0 15px;
	padding-left: 30px;
	padding-right: 8px;
	}
	
div.header img.your-logo {
	float: right;
	margin: 10px 15px;
}

/* Forms */

div.searchPage {
   margin-left: 1%;
	 width: 98%;
}

div.form {
   width: 98%;
   margin:1%;
text-align: center;
}

/* Results */

div.resultsHeader {
     width: 98%;
     min-height:3.5em;
     float:left;
	 border-right: 1px solid #666;
	 border-left: 1px solid #666;
	 border-top: 1px solid #999;
	 border-bottom: 1px solid #999;
	 background-color: #ddd;
	 margin-left: 1%;
	 margin-right: 1%;
	 padding-top:1em;
	 padding-bottom:1em;
	 border-radius: 5px 5px 0 0;
}

.resultsHeader input, .resultsHeader select {
    font-size:1em;
}

div.query {
    width: 350px;
    float: left;
}

div.label {
   float: left;
}

div.resultsHeader .subQuery {
	float: left;
}

div.results {
   margin-left:1%;
   margin-right:1%;
   background-color: white;
	 width: 98%;
	 border: 1px solid #666;
	 border-top: 0;
	 float:left;
	 border-radius:0 0 5px 5px;
	 padding-top:.5em;
}

.results>p {margin:1em;}

.facets{
   width: 25%;
   margin-left: 1%;
   margin-right: 1%;
   float: left;
}

div.facetGroup {
	font-size: 95%;	
}

div.docHit {
	background-color: #FAFAFB;
	margin: 1%;
	padding:1%;
	float:left;
	border-radius:5px;
	width:53%
}

.hitRank {float:left; width:2%;}
.resultIcon {float:left; width:6%;}
.resultContent {float:left; width:82%;}
.result {float:left;width:100%;margin-bottom:.5em;}
.result img, .title img {vertical-align:middle;}
.result.title a, .componentInfo .title a {color:#333; text-decoration:none;}
.result.title a:visited, .componentInfo .title a:visited {color:#555;}
.result.title a:hover, .componentInfo .title a:hover {color:#cc3300;text-decoration:underline}
.resultContent>.result.title {font-size:1.3em;margin:0}
.subdocument>.result.title {width:84%;font-size:1em;font-weight:bold;margin:.5em 0}

.result.creator {color:#555}

#docHits {float:left; width:73%;padding-bottom:1%}
#docHits .hitRank {width:3%}
#docHits .resultIcon {width:10%;}
#docHits .resultContent {width:80%;}
#docHits .resultLabel {width:15%;}
#docHits .resultText {width:80%;}

#docHits .dao .resultIcon {width:18%;}
#docHits .dao .resultContent {width:72%;}

.top-level {width: 100%;float: left;}
.top-level>.bookbag {text-align:right;}

.subdocuments {float: left;cursor:pointer;width:175%;padding-left:10%;}
.subdocument {float:left; padding: .5em 1%;width:50%;}
.subdocument.odd {background: rgb(228, 228, 228);}
.subdocument .title {width:84%; float:left;}
.subdocument .matches {float:left;width:100%;margin-left:3%;font-size:.9em;}
.subdocument .result {font-size:.9em;}
.subdocument .resultLabel {width:10% !important}
.subdocument.active {background:rgba(196, 84, 20, 0.4);}
.subdocument.active {background-color: #999 !important;border-left: .5em solid #cc3300;width:52%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-left:1%; position:relative;z-index:2;
transition: margin 0.2s;
-webkit-transition: margin 0.2s;
-moz-transition: margin 0.2s;
-o-transition: margin 0.2s;}
.subdocument.active .title, .subdocument.active .result {color:#fff}
.subdocument.active .hit {color: #fff !important;}

.showMore {width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #999;
    content: " ";
    float: left;
    margin-top: 1%;
    margin-left:2%}
.showLess {width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #999;
    content: " ";
    float: right;
    margin-right: -4%;
    margin-top: 1%;}
.showLess {display:none;}

.componentInfo, .componentDefault {
    display:none;
    width:28%;
    position: relative;
    margin:0 1%;
    border-radius:5px;
    background-color:#FAFAFB;
    padding:1%;
    float:right;
    min-height:6em;
}
.componentDefault {display:block;position:absolute; top: 17.8em; right: 1%;min-height:20em;}
.componentDefault h3 {margin: 0;color: #666;}
.componentInfo h3 {font-size:1em;color:#333}
.componentInfo .title {font-weight:bold;font-size:1.3em;}
.componentInfo .containers {width:100%; font-size:1em; padding-bottom:.5em;}
.componentInfo .parents {font-size:.8em}
.componentInfo .notes, .componentInfo .restrictions {font-size:.9em;}

.hit {
   color: #cc3300;
   font-weight: bold;
}


.subhit {
   color: #cc3300;
   font-weight: bold;
	 margin-left: 5px;
}

.hitsection {
   background-color: #D6DCE5;
}

.facetWrapper {width:98%;float:left;}
.facetName {float:left;max-width:94%;}
.totalDocs {float:left;padding-left:.2em;color:#888;}
.clearLink {float:right;font-weight:bold;}

div.facetMore, div.facetLess {
    margin: .3em;
    float: right;
    border-left: 1px inset #cccccc;
    padding: 1%;
    box-sizing: border-box;
    width: 5em;
    text-align: center;
    font-size:.8em;
    line-height:1.7em;
}

div.facetMore:hover:after {width: 0;height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 6px solid #cc3300;content: " ";float: right;margin-top: .6em;} 
div.facetLess:hover:after {width: 0;height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #cc3300;content: " ";float: right;margin-top: .6em;}

div.facetMore:after {width: 0;height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 6px solid #666666;content: " ";float: right;margin-top: .6em;}
div.facetLess:after {width: 0;height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #666666;content: " ";float: right;margin-top: .6em;}

div.facetLess, div.facetMore {color:#666666 !important;}
div.facetLess:hover, div.facetMore:hover {color: #cc3300 !important}
.facets a {color:#174780 !important; text-decoration:none !important;}
.browse a {color:#cc3300 !important; text-decoration:none !important;}
.facets a:hover {color: #cc3300 !important; text-decoration:underline !important;}

div.facetShow {float: right;
    padding: .7em;
    font-size: .9em;
    font-style:italic;
    display:none;}
    
div.facetShow p {margin:0}

div.getAddress {
	width: 95%;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #666;
	border-top: 0;
	padding: 10px;
}

div.getAddress h2 {
	margin: 0 0 10px 0;
	font-size: 120%;
}
.nohits, .spelling, .empty {margin: 1em;text-align: center;background: rgba(196, 84, 20, 0.1);padding: .5em;border: 1px solid #cc3300;border-radius: 5px;}
.empty img {vertical-align:middle}
